body {
  background:#f3f4f6;
  font-family:Arial;
}

.box {
  background:#fff;
  width:90%;
  max-width:400px;
  margin:60px auto;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,.1);
}

input, button {
  width:100%;
  padding:12px;
  margin-top:10px;
}

button {
  background:#4f46e5;
  color:#fff;
  border:none;
  border-radius:8px;
}